html, body, #plateau{
    height: 100%;
}
#plateau {
    background-image: url("../images/game/bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: url("../images/cursor.png"), auto;
}
#place > article{
    height: 98%;
}
#place{
    height: 80%;
    width: 70%;
    display: block;
    margin: auto;
    background-image: url("../images/game/plateau.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#nexus1 img, #nexus2 img{
    width: 120px;
}
.cards {
    display: flex;
    width: 98%;
    background-color: rgba(56, 26, 22, 0.2);
    border: 1px solid #08080738;
    margin: 0 auto;
    justify-content: center;
    height: 50%;
    position: relative;
}
#place > #choice{
    flex-direction: column;
    margin-top: 6px;
}
#place h4{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-left: 5px ridge #a5873b;
    border-right: 5px ridge #a5873b;
    border-bottom: 1px ridge #a5873b;
    background-color: #382e0d;
    font-size: 1.3em;
}
#place h4::after {
    bottom: -10px;
    right: 0;
}
#place #choice img {
    width: 180px;
}
#place .attack{
    border-bottom-left-radius: 27px;
    border-bottom: 3px ridge brown;
}
#place .defence{
    border-bottom-right-radius: 27px;
    border-bottom: 3px ridge rgb(42, 147, 165);
}
#place li{
    font-size: 0.9em;
}
.cards > article{
    margin: auto;
    border-radius: 30px;
    border-left: 1px solid #a5873b;
    border-right: 2px solid #a5873b;
    position: relative;
    z-index: 0;
}
.cards > article:not(:last-child) {
    z-index: 1;
}
#place {
    animation-name: transition;
    animation-duration: 15s;
}
#fixed_welcome {
position: fixed;
left: 50%;
z-index: 2;
top: 50%;
transform: translate(500%, 500%);
padding: 2em;
background-color: #252729;
border: 3px ridge #63501b;
animation-name: transition2;
filter: opacity(0);
animation-duration: 3s;
}
#fixed_welcome p {
color: #eeaf5d;
text-align: right;
}
#fixed_welcome p::after {
content: "";
display: block;
height: 12px;
width: 100%;
background-image: url(../images/spacer.png);
background-repeat: no-repeat;
background-position: center bottom;
}

#fixed_welcome:before {
content: "";
display: block;
height: 12px;
width: 74%;
background-image: url(../images/spacer.png);
background-repeat: no-repeat;
background-position: center bottom;
transform: rotate(-90deg);
position: relative;
left: -195px;
top: 130px;
}

#fixed_welcome_2 {
    position: fixed;
    left: 50%;
    z-index: 2;
    top: 50%;
    transform: translate(500%, 500%);
    filter: opacity(0);
    animation-name: transition3;
    animation-duration: 6s;
}
#fixed_welcome_2 p {
    background: -webkit-linear-gradient(#c4aa56, #ffe8a9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
    padding: 1em;
    border: 3px solid #a5873b;
}
.logo{
    display: flex;
    background-color: #1a212a;
    padding: 0.2em;
}
#joueur2{
    border-top-right-radius: 100px;
    border-right: 10px solid rgb(51, 243, 13);
}
#joueur1{
    border-bottom-left-radius: 100px;
    border-left: 10px solid rgb(255, 48, 11);
}
.logo > *:not(img){
    margin: auto 0.75em;
}
#infoj{
    z-index: 1;
}
#joueur1, #joueur2{
    display: flex;
    position: fixed;
    
}
#joueur1{
    top: 0;
    right: 0;
}
#joueur2{
    bottom: 0;
    left: 0;
}
.logo img{
    height: 50px;
    width: 50px;
}
.mains img{
    height: 90px;
    width: 70px;
}
#main_joueur2 img{
    width: 150px;
    height: initial;
    position: absolute;
    bottom: 0;
    right: 0;
}
#main_joueur2 article:hover img{
    width: 222px;
}
#main_joueur2{
    transform: translateX(-50%) translateY(30px);
    bottom: 0;
}
#main_joueur2:hover{
    animation-name: deplacement;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transform: translateX(-50%) translateY(45px);
    z-index: 2;
}
#main_joueur2 article{
    overflow: hidden;
    position: relative;
    width: 110px;
    margin-right: 0.5em;
    border-top: 5px ridge #097aae;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-left: 2px solid #1e135e;
    border-right: 2px solid #1e135e;
    height: 90px;
}
#main_joueur2 article:hover{
    animation-name: zoom;
    animation-duration: 1s;
    animation-iteration-count: 1;
    width: 220px;
    border-top: 5px ridge #aeab09;
    border-left: 2px solid #5e5313;
    border-right: 2px solid #5e5313;
    height: 135px;
    bottom: 2.9em;
}

#main_joueur2 ul{
    position: absolute;
    bottom: 0;
    padding: 0;
    width: 100%;
    display: flex;
    margin: 0;
    list-style: none;
}
#main_joueur2 li{
    flex-basis: 50%;
    text-align: center;
}
#main_joueur2 h4{
    background-color: initial;
    border-bottom: initial;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#main_joueur2 img:hover{
    animation-name: initial;
}
#main_joueur2 h4::after{
    height: 0;
}
#joueur1 p, #joueur2 p{
    font-size: 1.7em;
}
#joueur2 p::after{
    font-size: 0.5em;
    content: "\f004";
    padding: 0.5em;
    font-family: FontAwesome;
}
#joueur1 p::before{
    font-size: 0.5em;
    content: "\f004";
    padding: 0.5em;
    position: relative;
    bottom: 0.2em;
    font-family: FontAwesome;
}

#joueur1 p{
    color: rgb(255, 48, 11);
}
#joueur2 p{
    color: rgb(51, 243, 13);
}
#place #choice ul::before {
    bottom: 25px;
}
.mains{
    position: fixed;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.mains img:hover{
    animation-name: cardmove;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.mains img{
    position: relative;
    margin: 0;
}
.card1{
    transform: rotate(25deg);
    position: relative;
    bottom: 22px;
    left: 28px;
}
#cards-bottom > article:first-child{
    transform: skewX(10deg);
}
#cards-bottom > article:last-child{
    transform: skewX(-10deg);
}
#cards-top > article:first-child{
    transform: skewX(-10deg);
}
#cards-top > article:last-child{
  transform: skewX(10deg);
}

.card2{
    transform: rotate(10deg);
    position: relative;
    left: 10px;
    bottom: 5px;
}
#cardsemi{
    transform: rotate(-10deg);
    position: relative;
    right: 10px;
    bottom: 5px;
}
#cardlast{
    transform: rotate(-25deg);
    position: relative;
    bottom: 22px;
    right: 28px;
}
#waiting_game{
    color: white;
    text-align: center;
    margin: 2em;
    font-size: 3em;
}
#pioche-button-o, #pioche-button, #pioche-button-f{
    position: absolute;
    bottom: 5%;
    right: 5%;
    border: 1px solid black;
    height: 150px;
    width: 90px;
    font-size: 0.8em;
    color: white;
    text-align: center;
    background-image: url("../images/game/card.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#pioche-button-f, .attackedChamp{
    filter: grayscale(1);
    color: gray;
}
#pioche-button-o{
    filter: hue-rotate(180deg);
    color: #33d1dc;
}
#pioche-button{
    animation: cardmove 8s infinite;
}
#passTurn-invitation{
    color: rgb(224, 183, 45);
    border: 3px double rgb(182, 143, 60);
    background-color: #3d2106;
    animation-name: rappel;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.passTurn{
    position: absolute;
    bottom: 10%;
    left: 3%;
    border: 3px double #3396dc;
    background-color: #95ceff;
    color: #2b77b9;
    font-weight: bolder;
}
.passTurn:hover{
    color: rgb(224, 183, 45);
    border: 3px double rgb(182, 143, 60);
    background-color: #3d2106;
}
#passTurn-invitation:hover{
    color: rgb(223, 193, 97);
    border: 3px double rgb(204, 185, 10);
    background-color: #1a1108;
}
@keyframes rappel {
    0% {
        transform: rotate(0deg);
    }
    5% {
        transform: rotate(5deg);
    }
    95% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes transition {
    0% {
        filter: opacity(0);
    }
    50% {
        filter: opacity(0);
    }
    100% {
        filter: opacity(1);
    }
}
@keyframes transition2 {
    0% {
        filter: opacity(0);
        transform: translate(-50%, -50%);
    }
    75% {
        filter: opacity(1);
    }
    98% {
        filter: opacity(0);
    }
    99% {
        transform: translate(-50%, -50%);
    }
    100% {
        transform: translate(-500%, -500%);
    }
}
@keyframes transition3 {
    0% {
        filter: opacity(0);
    }
    55% {
        filter: opacity(0);
    }
    75% {
        filter: opacity(1);
    }
    99% {
        filter: opacity(0);
    }
    100% {
    }
}
@keyframes cardmove {
    0% {
        transform: rotate(0deg);
    }
    5% {
        transform: rotate(10deg);
    }
    95% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes zoom {
    0% {
        width: 110px;
        height: 90px;
        bottom: 0;
    }
    100% {
        width: 220px;
        height: 135px;
        bottom: 3.4em;
    }
}
@keyframes deplacement {
    0% {
        transform: translateX(-50%) translateY(30px);
    }
    100% {
        transform: translateX(-50%) translateY(60px);
    }
}
.card-defense{
    animation: cardDefense 3s 1;
    transform: translateY(75px)!important;
    border-left: 1px solid #3b6aa5!important;
    border-right: 1px solid #3b6aa5!important;
}
.card-defense h4{
    border-top: 2px ridge #ba945a!important;
    border-left: 5px ridge #3b65a5!important;
    border-right: 5px ridge #3b65a5!important;
    border-bottom: 1px ridge #3b9ba5!important;
    background-color: #0d2038!important;
}
.card-defense .defence {
    border-radius: 1px!important;
    border: 3px ridge rgb(42, 147, 165);
    flex-basis: 100%!important;
}
.card-defense .attack{
    display: none;
}

.card-attack{
    animation: cardAttack 3s 1;
    transform: translateY(-75px)!important;
    border-left: 1px solid #a53b3b!important;
    border-right: 1px solid #a53b3b!important;
    z-index: 2!important;
}
.card-attack h4{
    border-top: 2px ridge #ba945a!important;
    border-left: 5px ridge #a5593b!important;
    border-right: 5px ridge #a5503b!important;
    border-bottom: 1px ridge #a53b3b!important;
    background-color: #380d0d!important;
}
.card-attack .attack {
    border-radius: 1px!important;
    border: 3px ridge rgb(165, 46, 42);
    flex-basis: 100%!important;
}
.card-attack .defence{
    display: none;
}
@keyframes cardAttack{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-75px);
    }
}
@keyframes cardDefense{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(75px);
    }
}
#attack-confirmed{
    animation: attackbig 9s 1;
    z-index: 3;
}
#victim-confirmed{
    animation: victimebig 9s 1;
}


@keyframes victimebig{
    0%{
        transform: scale(1) translateY(0px);
    }
    25%{
        transform: scale(1.25) translateY(150px);
        filter: opacity(1.0);
    }
    100%{
        transform: scale(0.25) translateY(-500px);
        filter: opacity(0);
    }
}
@keyframes attackbig{
    0%{
        transform: scale(1) translateY(0px);
        filter: drop-shadow(0px 0px 0px red);
    }
    25%{
        filter: drop-shadow(3px 2px 61px red);
        transform: scale(1.25) translateY(-130px);
    }
    100%{
        transform: scale(1) translateY(0px);
        filter: drop-shadow(0px 0px 0px red);
    }
}


@media screen and (max-width: 1150px) {
    #main_joueur2 {
        left: 57%;
    }
    #place #choice img {
        width: 150px;
    }
    #joueur1 p, #joueur2 p {
        font-size: 1em;
    }
    #infoj h2 {
        font-size: 1.4em;
    }
    #pioche-button-o, #pioche-button, #pioche-button-f{
        right: 0;
        bottom: 0;
        height: 20%;
    }
    #pioche-button{
        animation: initial;
    }
    #main_joueur2 li {
        font-size: 0.8em;
    }
    #place h4 {
        font-size: 0.9em;
    }
    #place {
        width: 100%;
    }
    #flame1, #flame2, #flame3, #flame4{
        display: none;
    }
    #cards-top > article:last-child, #cards-bottom > article:last-child {
        transform: none;
    }
}

@media screen and (max-width: 860px) {
    #cards-top > article:first-child, #cards-bottom > article:first-child{
        transform: none;
    }
    .logo img {
        display: none;
    }
    #main_joueur2 {
        left: 44%;
    }
    .cards{
        flex-wrap: wrap;
    }
    #joueur2{
        top: 0;
        bottom: initial;
        border-top-right-radius: initial;
        border-bottom-right-radius: 100px;
    }
    #place h4 {
        font-size: 0.6em;
    }
}

@media screen and (max-width: 650px) {
    #place #choice img {
        width: 90px;
    }
    .attack:before, .defence:before{
        display: none;
    }
    #place li {
        font-size: 0.6em;
    }
    .mains img{
        height: 50px;
        width: 40px;
    }
    #pioche-button-o, #pioche-button, #pioche-button-f{
        right: 0;
        bottom: 10%;
        font-size: 0.6em;
        height: 7%;
    }
    #main_joueur2 article {
        width: 70px;
    }
    #main_joueur2 {
        left: 50%;
    }
    #main_joueur2 ul{
        flex-direction: column;
    }
    #passTurn, #passTurn-invitation{
        font-size: 0.6em;
    }
    #main_joueur2 article:hover img {
        width: 155px;
    }
    #main_joueur2 article:hover {
        width: 95px;
        height: 95px;
    }
    #main_joueur2:hover{
        transform: translateX(-50%) translateY(5px);
    }
    #main_joueur2 article:hover{
        bottom: 0.5em;
    }
    @keyframes zoom {
        0% {
            width: 110px;
            height: 90px;
        }
        100% {
            width: 95px;
            height: 95px;
        }
    }
}
#winboy, #loseboy{
    color: white;
    font-size: 2em;
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
}
#winboy > img, #loseboy > img{
    animation: winning 2s infinite;
    width: 20%;
    margin: 2em auto;
}
#endRedirect{
    border: 1px solid darkgoldenrod;
    color: white;
    padding: 0.5em;
    margin: 0 auto;
    background-color: #00000078;
}
#endRedirect:hover{
    background-color: #2c2a1356;
}
@keyframes winning {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}
@media screen and (max-width: 370px) {
    #normal_page h2 {
        display: none;
    }
    .mains img{
        height: 40px;
        width: 30px;
    }
}