@charset "UTF-8";
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
@font-face {
  font-family: normal;
  font-display: auto;
  src: url(../font/normal.ttf);
}
@font-face {
  font-family: truc;
  font-display: auto;
  src: url(../font/Verah.ttf);
}
body {
  background-color: #343a40;
  font-family: sans-serif;
  scroll-behavior: smooth;
  cursor: url("images/cursor.png"), auto;
}
main:not(#game){
  min-height: calc(100vh - 95px);
}
a{
  text-decoration: none;
}
header {
  border-bottom: 3px ridge #54636a;
}
header > nav{
  background-image: url("../images/test.png");
  background-size: 100% 100%;
  display: flex;
  background-color: #252729;
  position: relative;
}
header > nav > #right{
  position: absolute;
  right: 0;
  top: 18px;
}
header > nav a{
  height: 80%;
  color: white;
  margin: auto 0;
}
header > nav > a:hover{
  color: #c7a446;
}
header > nav > a > img{
  width: 160px;
  padding: 0.5em;
  padding-right: 2em;
}
a:hover, button:hover {
  text-decoration: none;
  cursor: url("../images/cursor_h.png"), auto;
}
#normal_page > section {
  background-color: #343a40;
  width: 80%;
  margin: 1em auto;
  border: 3px ridge #dfc87c;
  color: white;
}
#normal_page > section > article > img {
  width: 5em;
  float: left;
  margin-right: 2em;
}
#normal_page h2 {
  color: #c7a446;
  text-align: center;
}
#normal_page #normal_bg {
  position: fixed;
  top: 0;
  z-index: -1;
  background-image: url("../images/bg_normal.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.navbar-brand img {
  margin: 0 auto;
  width: 30%;
  display: block;
}
#flame1 {
  position: absolute;
  width: 55px;
  left: 2%;
  top: 90px;
}

#flame2 {
  position: absolute;
  width: 55px;
  right: 2.2%;
  top: 90px;
}

#flame3 {
  position: absolute;
  width: 55px;
  height: 30px;
  left: 2%;
  bottom: 187px;
}

#flame4 {
  position: absolute;
  width: 55px;
  right: 2.2%;
  bottom: 97px;
  height: 30px;
}
.attack:before, .defence:before, .puissance:before {
  font-family: FontAwesome;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.attack:before {
  content: "";
}

.defence:before {
  content: "";
}

.puissance:before {
  content: "";
}
@media (max-width: 770px) {
  .navbar {
    flex-wrap: initial;
  }
  footer img {
    display: none;
  }
  footer p {
    font-size: 0.7em;
  }

  #flame1, #flame2, #flame3, #flame4 {
    display: none;
  }
}
footer {
  border-top: 1px solid #685b5b;
  position: relative;
  background-color: #252729;
}
footer p {
  text-align: center;
  color: white;
  padding-top: 1em;
  font-size: 0.8em;
  margin: 0;
  font-family: sans-serif;
}
footer a {
  position: absolute;
}
footer a + a {
  position: absolute;
  right: 0;
}
footer img {
  width: 270px;
}
#twitch_footer{
  position: absolute;
  bottom: 0;
  right: 0;
}
#plateau{
  width: 100%!important;
  margin: 0!important;
  border: 0!important;
}
#play-button{
  background-color: #3c535c;
  border: 1.2px solid #46b5c7;
  color: #29aaf6;
  margin-right: 1em;
}

.fa-check{
  background-color: #1a9729!important;
}
#play-button:hover{
  background-color: #188d8d;
  color: white;
}
#register-button::before, #about-button::before, #login-button::before, .deco-button::before{
    font-family: FontAwesome;
    font-size: 1em;
    padding-right: 0.2em;
}
#login-button::before{
  content: "\f090";
}
#deconnexion-button::before{
  content: "\f08b";
}
#profil-button::before{
  content: "\f007";
}
#register-button::before{
  content: "\f007";
}
/*# sourceMappingURL=style.css.map */

.special-co { background-color: #252729; }

p{
  margin-bottom: 0;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
#compteur_red{
  color: rgb(255, 228, 110);
  padding: 0.2em;
  display: contents;
}
#debut-partie{
  background-color: #000000a2!important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}
#debut-partie > article{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 50%;
  min-height: 250px;
  border: 3px ridge #6199e2;
  font-family: article;
  background-image: url("../images/normal_bg.png");
  background-size: cover;
  background-color: #252729;
}
#debut-partie h3{
  text-align: center;
  margin-bottom: 1em;
  padding: 1em;
  background-color: #0000006c;
  border-bottom: 1px solid #252729;
}
#debut-partie aside{
  display: flex;
}
#debut-partie aside a{
  flex-basis: 50%;
  text-align: center;
  text-decoration: none;
  margin: 1em;
  padding: 0.5em;
}
#debut-partie aside a:first-child::before, #debut-partie aside a:last-child::before{
  font-family: FontAwesome;
  font-size: 1.5em;
  padding-right: 0.2em;
}
#debut-partie aside a:first-child::before{
  content: "\f002";
}
#debut-partie aside a:first-child{
  color: #75ee5d;
  background-color: #154919;
  border: 1px solid #75ee5d;
}
#debut-partie aside a:first-child:hover{
  color: #134e07;
  background-color: #1d8526;
  font-weight: bold;
  border: 1px solid #0d3b04;
}
#debut-partie aside a:last-child, #red{
  color: #ee7a5d;
  background-color: #491f15;
  border: 1px solid #ee7a5d;
}
#debut-partie aside a:last-child:hover{
  color: #5a1503;
  background-color: #b45138;
  border: 1px solid #441002;
}
#red{
  margin-top: 0.5em;
  padding: 0.3em;
}
#debut-partie aside a:last-child::before{
  font-family: FontAwesome;
  font-size: 1.5em;
  padding-right: 0.2em;
  content: "\f00d";
}
#black-back{
  background-color: #0000006c;
  width: 100%;
  width: 100%;
  position: fixed;
  top: 0; left: 0;
}
#matchmaking-list{
  display: flex;
  background-color: inherit!important;
  border: inherit!important;
}
#matchmaking-list p::before{
  font-family: FontAwesome;
  content: "\f059";
  padding-right: 1em;
}
#matchmaking-list p{
  font-family: Arial;
  color: darkkhaki;
  background-color: rgba(0, 0, 0, 0.822);
  border-radius: 10px;
  padding: 1em;
}
#matchmaking-list > article{
  flex-basis: 50%;
  background-color: #000000bf;
  padding: 1em;
  margin: 1em;
  border-radius: 30px;
  border-top: 10px solid darkgoldenrod;
  min-height: 500px;
}
#matchmaking-list ul{
  padding:0;
}
#matchmaking-list li{
  list-style: none;
  padding: 0.3em;
  background-color: #282e33;
  margin-top: 1em;
  border-bottom: 3px solid goldenrod;
  position: relative;
}
#matchmaking-list li button{
  font-family: FontAwesome;
  border: none;
  height: 100%;
  background-color: #0095ad;
  color: white;
}
#matchmaking-list li > button, #matchmaking-list li aside{
  position: absolute;
  right: 0;
  top: 0;
}
#matchmaking-list li aside{
  height: 100%;
}
#matchmaking-list h2{
  text-align: center;
  padding: 1em;
  color: darkgoldenrod;
}
#profil li{
  list-style: none;
  padding-top: 1em;
}
#profil h2{
  padding: 0.5em;
}
#profil li:first-child::after{
  content: "";
}
#mobile{
  display: none;
}
#mobile > aside:hover > section{
  display: flex;
  position: absolute;
  top: 50px;
  flex-direction: column;
  background-color: #000000b2;
  border: 1px solid #c7a446;
  padding: 0.2em;
}
#mobile > aside > section{
  display: none;
  z-index: 2;
  right: 0;
}
#mobile > aside{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
}
#mobile p{
  padding: 0.5em;
  background-color: #252729;
  font-size: 2em;
  color: #1ca3b0;
  border: 1px solid;
}
@media screen and (max-width: 650px) {
  header > nav:first-child{
    display: none;
  }
  #mobile{
    display: flex;
  }
}