.forms ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 2em;
  position: relative;
}
.forms li{
 display: flex;
 padding: 0.2em;
 justify-content: center;
}
.forms input{
  background-color: #454545;
  color: rgb(202, 195, 133);
  padding: 0.5em;
  margin: 0.3em;
  border: 1px solid #5a5735;
  text-align: center;
}
.forms li img{
  width: 50%;
}
.forms li:first-child::after, .forms ul:first-child::before{
  content: url("images/arrow.png");
  position: absolute;
  top: 0;
  width: 2em;
}
.forms li:first-child::after{
  right: 0;
  transform: rotate(180deg);
}
.forms li:first-child::before{
  left: 0;
}
.forms button{
  background-color: #7a7641;
  border: 2px ridge #dfc87c;
  color: white;
  padding: 0.6em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  margin: 0.2em;
}
.forms ul > li:first-child{
  padding-bottom: 2em;
  border-bottom: 1px solid #dfc87c;
}
.forms a{
  font-size: 0.7em;
  font-family: Arial;
  text-decoration: none;
  color: gray;
}
.forms{
  background-image: url("images/normal_bg.png");
  background-size: cover;
  width: 50%!important;
  min-height: 400px;
}
#valid{
  color: #d1cb70;
  padding: 1em;
}