#home nav{
  display: flex;
  justify-content: center;
  background-color: #25272985;
}
#home h2{
  color: #c7a446;
  text-align: center;
  margin: 0;
  padding: 0.3em;
  position: relative;
  background-color: black;
}
#home h2::before{
  font-family: FontAwesome;
  content: "\f05a";
  color: white;
  background-color: #c7a446;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.3em;
}
#home nav a{
  padding: 1.5em;
  color: rgb(248, 228, 113);
}
#home{
  background-image: url("images/normal_bg.png");
  background-size: cover;
  background-color: #252729;
}
#home p{
  font-family: Arial;
  font-size: 0.9em;
  margin: 1em;
  margin-top: 0;
  margin-left: 3em; margin-right: 3em;
  border-left: 5px solid #c7a446;
  border-bottom: 3px solid #c7a446;
  border-bottom-left-radius: 20px;
  padding: 1em;
}
#home h3{
  background-color: brown;
  padding: 0.3em;
  border-bottom: 3px solid #c7a446;
  border-top: 3px solid #c7a446;
  background-image: url(images/h3_bg.png);
  background-size: 100% 100%;
}
#home ul{
  font-family: Arial;
  list-style: none;
  padding: 0;
  color: #adb1b8;
  border-left: 5px solid #adb1b8;
  margin-left: 1em;
}
#home ul img{
  display: block;
  margin: 0.3em auto;
  width: 25%;
}
#home li{
  padding: 1em;
}
#home article p img{
  width: 20%;
  display: block;
  margin: 0 auto;
}
#home i{
  font-size: 0.8em;
}
.deco-button{
  color: #c4921e;
  border: 1px solid;
  font-weight: bold;
  padding: 0.4em;
  margin: 1em;
  border-radius: 50px;
}
.deco-button:hover{
  color: #e7a814;
}
.los_home{
  background-color: inherit!important;
  width: inherit!important;
  margin: inherit!important;
  border: inherit!important;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.los_home > a, .los_home > article{
  width: 20%;
  height: 170px;
  background-color: #252729;
  padding: 1em;
  margin: 1em;
  display: block;
  position: relative;
  background-size: 100% 100%;
  filter: opacity(0.9);
  border: 1px solid #a07616;
}
#homepage > a{
  width: 30%;
  height: 250px;
}
.los_home > article > img{
  position: absolute;
  width: 100%!important;
  z-index: -1;
  height: 100%;
  top: 0;
  left: 0;
  filter: opacity(0.5);
}
.los_home h2, .los_home h4{
  text-shadow: 2px 2px 2px black, 2px 2px 2px black;
}
.los_home > article:hover > img{
  filter: opacity(1.0);
}
.los_home > article > ul, .los_home > article > h4{
  filter: opacity(0);
}
.los_home > article:hover > ul, .los_home > article:hover > h4{
  filter: opacity(1.0);
}
.los_home > article:hover > h2{
  text-align: center;
  font-size: 1.3em;
}
.los_home h2{
  text-align: left;
  font-size: 1em;
}
.los_home h4{
  background-color: initial;
  text-align: left;
  color: #c7a446;
  font-weight: bold;
}
.los_home ul{
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
  margin: 1em;
}
.los_home li{
  flex-basis: 30%;
  text-align: center;
  border-radius: 50px;
  margin-left: 2%;
  margin-right: 2%;
}
.los_home > a p{
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}
.los_home > a{
  color: white;
  font-size: 1.5em;
  text-shadow: 3px 3px 3px black, 3px 3px 3px black, 3px 3px 3px black;
}
.los_home > a p::before{
  font-family: FontAwesome;
  content: "\f05a";
  padding: 1em;
}
.los_home > a:hover{
  filter: opacity(1) brightness(1.2);
  color: #f0af17;
}
#los_home_pres{
  background-image: url(images/home/04.jpg);
}
#los_home_propos{
  background-image: url(images/home/02.jpg);
}
#los_home_cards{
  background-image: url(images/home/03.jpg);
}
#los_home_tuto{
  background-image: url(images/home/01.jpg);
}

@media screen and (max-width: 1150px) {
  #homepage > a {
    height: 300px;
  }
  #homepage > a {
    width: 50%;
    height: 250px;
  }
  #homepage p{
    font-size: 1.2em;
  }
  footer{
    display: none;
  }
  #normal_page #normal_bg{
    background-size: cover!important;
  }
  #debut-partie h3{
    font-size: 1em;
  }
  #debut-partie aside a{
    font-size: 0.8em;
  }
  #matchmaking-list h2{
    font-size: 1.5em;
  }
  #matchmaking-list p {
    font-size: 0.6em;
  }
}
@media screen and (max-width: 860px) {
  #homepage p{
    font-size: 0.9em;
  }
  .forms li:first-child::after, .forms ul:first-child::before {
    display: none;
  }
  .los_home > a, .los_home > article {
    width: 20%;
    height: 100px;
  }
  .los_home > article > h4{
    display: none;
  }
  .los_home > article > h2{
    font-size: 0.6em;
  }
  .los_home > article:hover > h2 {
    font-size: 0.7em;
  }
  .los_home li {
    font-size: 0.7em;
    margin-left: initial;
    padding: 3px;
    margin-right: initial;
  }
  #home ul{
    font-size: 0.6em;
  }
  #debut-partie h3{
    font-size: 0.8em;
  }
  #debut-partie aside a{
    font-size: 0.6em;
  }
  #debut-partie > article {
    min-height: 127px;
  }
  #profil #red{
    font-size: 0.6em;
  }
  #matchmaking-list p {
    font-size: 0.5em;
  }
  #matchmaking-list h2 {
    font-size: 1em;
  }
  #matchmaking-list li button {
    font-size: 0.7em;
  }
  #matchmaking-list li {
    font-size: 0.8em;
  }
  #count{
    font-size: 0.6em!important;
  }
  #count + ul li {
    font-size: 1em!important;
  }
  #count button {
    bottom: 0;
    margin: initial!important;
}
}
@media screen and (max-width: 500px) {
  #homepage > a {
    width: 90%;
  }
  #homepage p {
    font-size: 0.8em;
  }
  .forms input {
    padding: 0.3em;
    font-size: 0.7em;
  }
  .forms button{
    font-size: 0.8em;
    padding: 0.3em;
  }
  .forms a {
    font-size: 0.5em;
  }
  .forms li img {
    width: 90%!important;
  }
  #home ul img {
    display: block;
    margin: 0.3em auto;
    width: 70%;
  }
  #home p {
    font-size: 0.6em;
  }
}
@media screen and (max-width: 370px) {
  .forms input {
    padding: 0.1em;
    font-size: 0.6em;
  }
  .forms button {
    font-size: 0.5em;
  }
  .forms a {
    display: none;
  }
}