#normal_page > section > section:not(#place) {
  background-color: #343a40;
  margin: 0 auto;
  color: white;
  overflow: hidden;
}
#normal_page h4::after {
  content: "";
  display: block;
  height: 12px;
  position: absolute;
  bottom: -12px;
  width: 100%;
  right: 0.3px;
  z-index: 1;
  background-image: url("./images/spacer.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}
#choice ul::before {
  content: "";
  display: block;
  height: 12px;
  position: absolute;
  bottom: 28px;
  width: 100%;
  background-image: url("./images/spacer.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  transform: rotate(180deg);
}
#normal_page #normal_bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("./images/bg3.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
article > img{
  width: 150px;
  margin: 0 auto;
  display: block;
}
article > img:hover{
  filter: brightness(1.5);
}
#choice li{
  font-size: 1.2em;
  flex-basis: 50%;
  text-align: center;
}
#choice ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  z-index: 1;
}
#choice > article article{
  border: 1px solid rgb(143, 120, 79);
  margin: 0.5em;
}
h4{
  text-align: center;
  background-color: #232c35;
  padding: 0.2em;
  margin: 0;
  border-bottom: 1px solid white;
  font-size: 1em;
  z-index: 1;
  position: relative;
}
#choice{
  display: flex;
}
#choice > article{
  flex-basis: 50%;
  height: 500px;
  overflow: auto;
  overflow: overlay;
  background-image: url("./images/normal_bg.png");
  background-size: 100% 100%;
  
}
#choice > article article{
  float: left;
}
.attack:before, .defence:before, .puissance:before {
  font-family: FontAwesome;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.attack:before {
  content: "";
}
.attack{
  color: rgb(240, 73, 73);
  background-color: rgb(43, 0, 0);
}
.attack:hover{
  color: rgb(247, 113, 113);
}

.defence:before {
  content: "";
}
.defence{
  color: rgb(61, 176, 211);
  background-color: rgb(0, 17, 43);
}
.defence:hover{
  color: rgb(143, 224, 248);
}
.puissance:before {
  content: "";
}
#deck{
  background-color: rgb(72, 92, 68);
  border: 1px solid #8d6a3d;
  position: relative;
}
#champion_list{
  background-color: rgb(92, 76, 68);
  border: 1px solid #8d6a3d;
}

::-webkit-scrollbar {
  background: rgb(10, 1, 31);
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #403834;
  border-left: 1px solid #8d6a3d;
}

::-webkit-scrollbar-thumb {
  background-image: url("./images/scroll.png");
  background-size: 100% 100%;
}

#count + ul{
  display: flex;
  list-style: none;
  margin:0; padding:0;
}
#count + ul li{
  flex-basis: 50%;
  text-align: center;
  padding: 0.2em;
  font-size: 1.2em;
  background-color: #232c35;
}
#count{
  font-size: 0.8em;
  padding: 0.2em;
  background-color: #8d6a3d;
  margin:0;
  display: flex;
  padding-left: 1em;
  font-family: Arial;
  position: relative;
  --before-background-image: url(./images/poro-smirk.png);
}
#count::before{
  content: "";
  display: block;
  width: 5em;
  height: 5em;
  background-image: var(--before-background-image);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  float: left;
  border-right: 3px solid #b18e60;
  margin-right: 1em;
}
#deck_help{
  position: absolute;
  top: 25%;
  color: white;
  font-family: Arial;
  font-weight: bolder;
  font-size: 1em;
  left: 25%;
}
#count button{
  height: 50%;
  background-color: #3d8d55;
  font-size: 1.3em;
  color: white;
  border: 1px solid #b68f2f;
  position: absolute;
  right: 0;
  margin: 1em;
}
#count button:hover{
  background-color: #70655f;
}
#champion_list > section, #deck > section{
  display: flow-root;
  width: 92%;
  margin: 0 auto;
}